@font-face {
    font-family: "norsebold";
    src: 
        url(./assets/font/norse-bold.woff2) format("woff2"),
        url(./assets/font/norse-bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #596D48;
}

body {
    background-color: rgb(0 0 0);
    display: flex;
    height: 100dvh;
    justify-content: center;
}

h1 {
    font-size: 5rem;
}

a {
    color: inherit;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1500px;
    min-width: 720px;
}

.left-section {
    width: 30%;
    flex: auto;
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "norsebold";

    margin-top: 20vh;
}

.banner img {
    width: 5rem;
}

footer {
    margin-top: auto;
}

.right-section {
    width: 70%;
    flex: auto;
    background: white;

    display: flex;
    flex-direction: column;
}

.intro {
    flex: auto;
    padding: 3rem 3rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #eee;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
}

form {
    flex: auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

form p:first-child {
    padding-inline: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
}

fieldset:nth-child(4) {
    box-shadow: 12px 5px 5px black;
}

form a {
    color: var(--green);
    font-weight: 700;
}

.inputs-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.75rem;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 5px rgb(180, 180, 180);
    padding: 1.5rem 3rem;

}

fieldset {
    border: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}



label {
    display: block;
    font-size: 0.85rem;
}

input {
    outline: none;
    border-radius: 5px;
    border: #E5E7EB solid 1px;
    font-size: 1rem;
    width: 250px;
    height: 1.5rem;
    padding: 0.8rem 0.6rem;
}

input:invalid {
    border: red solid 1px;
}

input:focus {
    border: blue solid 1px;
    box-shadow: 0px 0px 5px blue;
}

.submit-container {
    margin-top: 1.5rem;
    padding-inline: 3rem;
}

button {
    color: white;
    background-color: var(--green);
    border-radius: 5px;
    border: none;
    width: 230px;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 700 ;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px var(--green);
}

.submit-container > p {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

